<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a href="https://rob-das-win.azurewebsites.net/about" target="_blank" rel="noreferrer">
                    <img src="assets/logo-lg.png" alt="Logo" class="img-fluid logo shadow-sm bg-body">
                </a>
            </div>
            <div id="dtek-title" class="col-sm-6 d-inline-flex justify-content-center align-items-center">
                <hgroup class="text-center">
                    <h4 class="display-5">DTEK Online Shopping</h4>
                    <p class="display-6">late-night shopping, made easy</p>
                </hgroup>
            </div>
            <div class="col-sm-3 d-inline-flex justify-content-center align-items-center background-image">
                <app-cart-summary />
            </div>
        </div>
        <div class="row">
            <div class="col12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-inline-flex justify-content-center align-items-center">
                <nav>
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs">
                        <li [ngbNavItem]="2" class="nav-item">
                            <a class="link-button nav-link" routerLink="/stuff" routerLinkActive="active">
                                {{ routeTitles['stuff'] }}
                            </a>
                        </li>
                        <li [ngbNavItem]="3" class="nav-item">
                            <a class="link-button nav-link" routerLink="/cart" routerLinkActive="active">
                                {{ routeTitles['cart'] }}
                            </a>
                        </li>
                        <li [ngbNavItem]="4" class="nav-item">
                            <a class="link-button nav-link" routerLink="/checkout" routerLinkActive="active">
                                {{ routeTitles['checkout'] }}
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</header>