/* cart background image only displays on medium and larger screens */
@media (min-width: 769px) {

    /* The following CSS is adapted from https://www.w3schools.com/howto/howto_css_image_text.asp */
    .cart-background-image {
        position: relative;
        padding: 20px;
        max-width: 220px;
    }

    .cart-background-image::before {
        content: '';
        background-image: url('../../assets/shopping-cart.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.35;
        /* Adjust the opacity value as needed */
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

/* bootstrap display-5 is too large */
#dtek-title h4.display-5 {
    font-size: 2.0rem;
}

/* bootstrap display-6 is too large */
#dtek-title p.display-6 {
    font-size: 1.5rem;
}

/* logo height grows with screen size unless we set a limit */
.logo {
    max-height: 220px;
}

/* hide the logo on small screens */
@media (max-width: 768px) {
    .logo {
        display: none;
    }
}

/* change the heading text based on screen size */
.dtek-heading::before {
    content: "DTEK Online Shopping";
}

@media (min-width: 769px) {

    .dtek-heading::before {
        content: "Online Shopping";
    }
}