<footer>

  <!-- Row to ensure full height for vertical centering -->
  <div class="row" style="height: 100%;">

    <!-- Flex element to align logo next to the text, bootstrap cols dont do well for this particular use case. -->
    <div class="d-inline-flex">
      <a href="https://rob-das-win.azurewebsites.net/about" target="_blank" rel="noreferrer">
        <img src="assets/logo-sm.png" alt="Logo">
      </a>
      <div class="text-start ms-3">
        <p>
          <span class="fw-bolder">{{ appName }} {{ appVersion }}</span> &mdash; {{ appDescription }} &nbsp;

          Copyright &copy; Robi Indra Das, 2009-{{ currentYear }}. All rights reserved.
          DTEK Consulting Services Ltd. is a Canadian company.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr />
      <p>
        This site is not intended for buying or selling anything. Nothing
        changes hands. It's a simulation of a user's shopping experience,
        without concern for payment or shipping - just a bottomless shopping
        cart with an unlimited grand total that never actually gets paid.
        It's therapeutic - try it, you might like it.
      </p>
      <p>
        In the context of this site,
        "<em>Stuff</em>" are just images of real things. They're based on royalty free, public domain pics
        from <a href="https://www.pexels.com/" target='_blank' rel="noreferrer">Pexels</a>.
      </p>
    </div>
  </div>
</footer>