<div class="text-center">
	<h2 class="display-6 my-5">{{title}}</h2>
</div>

<app-totals></app-totals>


<span *ngIf="(chosenProducts$ | async)?.length === 0" class="text-danger text-end d-block"><em>Shopping cart is empty.</em>*<br /></span>

<span
    *ngIf="( (paymentMethod$ | async)===null || (cardExpiration$ | async)===null || (customerName$ | async)===null || (customerAddress$ | async)===null )"
    class="text-danger text-end d-block"><em>All payment and shipping details are required.</em>*<br /></span>

<div class="text-right">
	<button type="button" class="btn btn-primary" [disabled]="(isPurchaseEnabled$ | async) === false"
		[ngClass]="{'btn-secondary': (isPurchaseEnabled$ | async) === false}" (click)="onPurchase()">
		Purchase
	</button>
</div>

<fieldset>
	<legend class="mx-auto">Payment</legend>
	<div>
		<label class="form-label" for="paymentMethod">Payment Method*</label>
		<select id="paymentMethod" class="form-select" [value]="paymentMethod$ | async"
			(change)="onChangePaymentMethod($event)">
			<option value="credit card">Credit Card</option>
			<option value="pay pal">PayPal</option>
			<option value="my pay">My Pay</option>
		</select>
	</div>
	<div>
		<label class="form-label" for="cardExpiration">Card Expiry*</label>
		<input class="form-control" type="date" id="cardExpiration" [value]="cardExpirationString$ | async"
			(change)="onChangeCardExpiration($event)">
	</div>
</fieldset>

<fieldset>
	<legend class="mx-auto">Shipping</legend>
	<div>
		<label class="form-label" for="customerName">Customer Name*</label>
		<input class="form-control" type="text" id="customerName" [value]="customerName$ | async"
			(change)="onChangeCustomerName($event)">
	</div>
	<div>
		<label class="form-label" for="customerAddress">Customer Address*</label>
		<input type="text" id="customerAddress" class="form-control" [value]="customerAddress$ | async"
			(change)="onChangeCustomerAddress($event)">
	</div>
</fieldset>

<div class="text-right mt-3">
	<app-restart-button></app-restart-button>
</div>

<app-notification-popup></app-notification-popup>