    /* Increase font size on the tabs */
    .custom-nav-tabs .nav-link {
        /* Bigger font size */
        font-size: 1.25rem;
    }

    /* Change inactive tabs text color to Bootstrap's text-primary */
    .custom-nav-tabs .nav-link {
        /* Primary color for inactive tabs */
        color: var(--bs-primary);
    }

    /* Change active tab text color to Bootstrap's text-success */
    .custom-nav-tabs .nav-link.active {
        /* Success color for active tab */
        color: var(--bs-success);
        background: linear-gradient(to top, var(--active-color), var(--main-color));

    }