<div *ngIf="product$ | async as product; else errorTemplate">

    <hgroup>
        <div class="text-center">
            <h2> {{product.productName}}</h2>
        </div>
        <p>{{product.productDetails}}</p>
        <p>{{product.unitPrice | currency}}</p>
    </hgroup>

    <button (click)="addProduct()">add to cart</button>
    <button (click)="goBack()">back</button>
    <br />
    <br />
    <img [src]="product.productImageFile" alt="product image">
</div>

<ng-template #errorTemplate>
    <p>Error: Product not found.</p>
</ng-template>