<div *ngIf="product$ | async as product; else errorTemplate" class="text-center">
    <hgroup>
        <h2 class="display-6 my-5"> {{product.productName}}</h2>
        <p>{{product.productDetails}}</p>
        <p>{{product.unitPrice | currency}}</p>
    </hgroup>
    <button (click)="addProduct()" class="btn btn-success me-1">add to cart</button>
    <button (click)="goBack()" class="btn btn-dark ms-1">back</button>
    <br />
    <br />
    <img [src]="product.productImageFile" alt="product image" class="img-fluid">
</div>

<ng-template #errorTemplate>
    <p>Error: Product not found.</p>
</ng-template>