.start-page {
    background: url("../../assets/stuff_sm.jpg") center;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    max-width: 580px;
    margin: 0 auto;
}

.start-page-link {
    padding: 0.5rem 2.5rem;
    border-radius: 0.5rem;
    color: beige;
    background-color: darkgreen;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid thin;
}

.start-page-link:hover {
    cursor: pointer;
}

.pushbuttonimage {
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 0.5rem;
    border: solid thin;
    margin-top: 0.6rem;
}