.site-boundary {
    border-radius: 0.5rem;
    border-width: thin;
    max-width: 50rem; 
    padding-left:0;
    padding-right:0;
  }
  
.app-section {
    padding: 0.5rem 1.4rem 0.5rem 1.3rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: solid var(--border-color);
    border-width: thin;
}

div#dtek-header.app-section {
    /* Left-to-right gradient with RGB colors */
    background: linear-gradient(to right, rgb(239, 228, 176), WHITE);
}

div#dtek-main.app-section {
    background:var(--main-color);
}

div#dtek-footer.app-section {
    background:var(--main-color);
}