body {
    /*TODO: instead of exclaim important, it should be possible 
    to reverse whatever is setting body.background-color */
    background-color:darkgray !important;
    padding-top: 1.0em;
}

/* You can add global styles to this file, and also import other style files */
:root {
    --border-color: darkgray;
    --nav-blue: #0056b3;
    --nav-text: #fff; /* White text */
    --product-summary-background: aliceblue;
  }
  
.full-width-table {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.number-right {
    text-align: right;
}

