/* You can add global styles to this file, and also import other style files */
:root {
    --border-color: darkgray;
    --nav-blue: #0056b3;
    --nav-text: #fff; /* White text */
    --product-summary-background: aliceblue;
    --body-color: #eaeaea;
    --main-color: rgb(249, 243, 221);
    --active-color: rgb(253, 251, 242);
  }
  
body {
    /*TODO: instead of exclaim important, it should be possible 
    to reverse whatever is setting body.background-color */
    /* background-color: rgb(249, 243, 221) !important; */
    background-color: var(--body-color) !important;
    padding-top: 0.5em;
}

.full-width-table {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.number-right {
    text-align: right;
}

