/* You can add global styles to this file, and also import other style files */
:root {
    --border-color: darkgray;
    --product-summary-background: aliceblue;
  }
  
.full-width-table {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.number-right {
    text-align: right;
}

